<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <h1>{{ title }}</h1>
        <a href="#about">About</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
    </header>
    <main>
        <section id="about">
            <h2>About Me</h2>
            <p>{{ about_me }}</p>
        </section>
        <section id="projects">
            <h2>Projects</h2>
            <ul>
                {% for project in projects %}
                    <li>
                        <h3><a href="{{ project.url }}">{{ project.title }}</a></h3>
                        <p>{{ project.description }}</p>
                    </li>
                {% endfor %}
            </ul>
        </section>
        <section id="contact">
            <h2>Contact</h2>
            </section>
    </main>
    <footer>
        <p>Connect with me:</p>
        <ul>
            {% for platform, link in social_media_links.items() %}
                <li><a href="{{ link }}"><i class="fab fa-{{ platform }}"></i></a></li>
            {% endfor %}
        </ul>
    </footer>
</body>
</html>
